@import 'variables.scss';

.multiselect-input {
    border: 1px solid $dark;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    border-radius: 0.25rem;
    background-color: $lighter;

    .chevron {
        border-left: 1px solid $dark;
        padding: 1rem;
    }
}

.multiselect-overlay {
    position: absolute;
    height: fit-content;
    z-index: 1000;
}

.multiselect-item {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    background-color: $lighter;
    padding: 1rem;
    border-radius: 0.5rem;

    span {
        text-wrap: nowrap;
    }
}

.option-item {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    background-color: $lighter;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-radius: 0.5rem;

    span {
        text-wrap: nowrap;
    }
}