<div class="grid">
    <div class="col-12 flex justify-content-left align-items-center gap-1" #tags>
        <fa-icon [icon]="ingredientsIcon"></fa-icon>
        <p> Ingrédients </p>
    </div>
        <div class="col-12" #newTag>
            <div class="card">
                <app-ingredient-form (saved)="loadIngredients()"></app-ingredient-form>
            </div> 
        </div>        
     
    <div class="col-12" #list>
        <div class="card">
            <div class="card-header">
                <div class="card-title">Liste des Ingrédients</div>
            </div>
            <div class="pip-list">
                @for (ingredient of (ingredients$ | async); track $index) {
                    <div class="tag-item">
                        <app-pip [label]="ingredient.label" [icon]="xMarkIcon" (iconClick)="deleteIngredient(ingredient)"></app-pip>
                    </div>
                }
            </div>
        </div>
    </div>
</div>