@import "variables.scss";

.recipe-list {
    gap: 1rem;
}

.recipe {
    padding: 1rem;
    background-color: $lighter;
    border-radius: 1rem;
}

.recipe-modal {
    .col-12 {
        padding-left: 0;
    }
}

.portion-list {
    max-height: 600px;
    overflow-y: auto;
    position: sticky;
    top: 0;
    padding: 1rem;

    .select-recipe {
        position: sticky;
        bottom: 0;
        background-color: $secondary;

        button {
            width: 100%;
        }
    }
}

.planner-day {
    min-height: 200px;
}

.day-label {
    font-size: 1.2rem;
    font-weight: bold;
}

.serving-receptor {
    border: dashed 2px $primary;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 180px;

    .day-servings {
        min-height: 160px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .serving {
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }
    }
}

.planner-day-summary {
    justify-content: space-evenly;
    align-items: self-start;
    min-height: 180px;
}