<div class="grid">
    <div class="col-6">
        <div class="field">
            <label for="ingredientLabel">Libellé</label>
            <input type="text" id="ingredientLabel" [formControl]="formGroup.controls.label" />
        </div>
    </div>
    <div class="col-6">
        <div class="field">
            <label for="ingredientUnit">Unité de mesure</label>
            <input type="text" id="ingredientUnit" [formControl]="formGroup.controls.unit" />    
        </div>
    </div>
    <div class="col-6">
        <div class="field">
            <label for="ingredientPrice">Prix / unité de mesure (€)</label>
            <input type="number" id="ingredientPrice" [formControl]="formGroup.controls.price" />
        </div>
    </div>
    <div class="col-6">
        <div class="field">
            <label for="ingredientCalories">Calories / unité de mesure (cal)</label>
            <input type="number" id="ingredientStock" [formControl]="formGroup.controls.calories" />
        </div>
    </div>
    <div class="col-12 flex justify-content-end gap-1 ">
        <button class="secondary" (click)="resetForm()">Annuler</button>
        <button class="primary" (click)="saveIngredient()">{{ingredient ? 'Mettre à jour' : 'Créer ingrédient'}}</button>
    </div>
</div>