<div class="grid">
    <div class="col-12">

        <div class="card title-card flex justify-content-left align-items-center gap-1 ">
            <fa-icon [icon]="tagsIcon"></fa-icon>
            <p> Tags </p>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <app-tag-form (saved)="loadTags()" [tag]="currentEditTag"></app-tag-form>
        </div>
    </div>

    <div class="col-12" #list>
        <div class="card">
            <div class="card-header">
                <div class="card-title">Liste des tags</div>
            </div>
            <div class="pip-list">
                @for (tag of (tags$ | async); track $index) {
                <div class="tag-item">
                    <app-pip [label]="tag.label" [color]="tag.color" [icon]="xMarkIcon" (iconClick)="deleteTag(tag)"
                        (labelClick)="setupFormForEdit(tag)"></app-pip>
                </div>
                }
            </div>
        </div>
    </div>
</div>