<div class="grid">
    <div class="col-12 flex justify-content-left align-items-center gap-1" #tags>
        <fa-icon [icon]="tagsIcon"></fa-icon>
        <p> Tags </p>
    </div>
        <div class="col-12" #newTag>
            <div class="card">
                <app-tag-form (saved)="loadTags()"></app-tag-form>
            </div> 
        </div>        
     
    <div class="col-12" #list>
        <div class="card">
            <div class="card-header">
                <div class="card-title">Liste des tags</div>
            </div>
            <div class="pip-list">
                @for (tag of (tags$ | async); track $index) {
                    <div class="tag-item">
                        <app-pip [label]="tag.label" [color]="tag.color" [icon]="xMarkIcon" (iconClick)="deleteTag(tag)"></app-pip>
                    </div>
                }
            </div>
        </div>
    </div>
</div>